<div class="appointment-form">
  <div class="col-xs-12">
    <h3>{{title}} an appointment</h3>
  </div>
  <div class="col-xs-12">
    <form class="form" [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="txtName">Appointment Name:
    <input type="text"
    class="form-control"
    id="txtName"
    formControlName="appointmentName">
    </label>
  </div><br>
  <div class="form-group">
    <label for="date">Date:
    <input type="date"
    name="date"
    id="date"
    formControlName="date">
    </label>
  </div><br>
  <div class="form-group">
    <label for="txtName">Time:
    <input type="text"
    class="form-control"
    id="txtTime"
    formControlName="time">
    <div class="radio" *ngFor="let ap of ampm">
        <label>
          <input type="radio"
            formControlName="ampm"
            [value]="ap">
            <span>
            {{ap}}
          </span>
        </label>
    </div>
    </label>
  </div><br>
  <button type="submit" class="btn btn-success" [disabled]="!appointmentForm.valid">{{title}} Appointment</button>
  <button type="submit" class="btn btn-warning" (click)="onCancel()">Cancel</button>
  <br>
  <button type="submit" class="btn btn-danger" (click)="onDelete()">Delete Appointment</button>
</form>
  </div>
</div>
