.weekday{
  width:calc(100% /7);
  float:left;
  border:1px solid #CCC;
  padding:5px;
}
.day{
  width:calc(100% /7);
  min-height:100px;
  float:left;
  border:1px solid #CCC;
  padding:5px;
}

.currentMonthDay{
  font-weight: bold;
  background-color:#eee;
}
