<div class="container">
<div class="row">
  <div class="col-xs-12 text-center" (click)="changeYear()" style="cursor:pointer;">
    <h3>{{year}}</h3>
    <i class="glyphicon glyphicon-menu-up" [style.display]="yearsNotShowing?'none':'inherit'"></i>
    <i class="glyphicon glyphicon-menu-down" [style.display]="yearsNotShowing?'inherit':'none'"></i>
  </div>
</div>
<div class="row" [style.display]="yearsNotShowing?'none':'inherit'">
  <div *ngFor="let y of years"  [ngClass]="'text-center col-xs-2'" (click)="getYear(y)">
    <button type="button" (click)="changeYear()">{{y}}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <button type="button" class="btn btn-default pull-left" (click)="getMonthText(-1)" tabindex="-1">
      <i class="fa fa-chevron-left "></i>
    </button>
  </div>
  <div class="col-xs-8 text-center">
    <h2>{{month}}</h2>
  </div>
  <div class="col-xs-2">
    <button type="button" class="btn btn-default pull-right" (click)="getMonthText(1)" tabindex="-1">
      <i class="fa fa-chevron-right"></i>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
  <div *ngFor="let weekday of weekdays"  [ngClass]="'col-xs-1 text-center weekday'">
    <p><b>{{weekday}}</b></p>
  </div>
</div>
</div>
<div class="row">
  <div class="col-xs-12 text-left">
  <day *ngFor="let day of days" [day]="day"></day>
</div>
</div>
<div class="row">
  <div class="text-center col-xs-12">
    <button type="button" (click)="backToCurrent()" class="btn btn-default">Current Date</button>
  </div>
</div>
</div>
